@import '../../breakpoints/Breakpoints.scss';

.faq-item-block{
    .faq-ul{
    list-style: none;
    li{
        height: 70px;
        overflow: hidden;
        .faq-item-title{
            width: 100%;
            display: flex ;
            justify-content: space-between;
            h3{
                @include tablet_xs{
                    font-size: 18px;
                }
            }
            }
            svg{
                font-size: 30px;
                cursor: pointer;
                @include tablet_xs{
                    font-size: 24px;
                }
            }
        }
        &::before{
            content: "";
            display: block;
            margin: 20px 0;
            width: 100%;
            padding-top: 1px;
            background: #000;
        }
        p{
            width: 70%;
            font-size: 18px;
            margin-top: 20px;
            @include tablet_xs{
                font-size: 14px;
            }
        }
    }
}