.recip-box{
    background: #F5F5F5;
    .recip-img {
        img{
            width: 100%;
        }
    }
    .recip-title{
        padding: 10px 20px 0;
        p{
            font-size: 20px;
        }
    }
    .recip-descr{
        padding: 10px 20px;
        span{
            font-size: 18px;
        }
    }
}