.loader-div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .loader {
        width: 100px;
        height: 100px;
        border: 10px solid #eee;
        border-radius: 100vw;
        border-top: 10px solid red;
        animation: spin 3s linear infinite;
      }
      
      @keyframes spin {
        0% {
          rotate: 0deg;
        }
        100% {
          rotate: 360deg;
        }
      }
}
h1{
    margin-top: 20px;
}
.shop-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .shop-banner{
        width: 100%;
        height: 400px;
        background-image: url(../../assets/images/catalog-electronics-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 58px;
            font-weight: 400;
        }
    }
    .shop-content{
        width: 100%;
        display: flex;
        justify-content: center;
        .shop-content-container{
            width: 80%;
            display: flex;
            justify-content: space-between;
            padding: 100px 0;
            thead{
                width: 100%;
                tr{
                    width: 100%;
                    display: flex;
                    th{
                        width: 200px;
                        font-size: 24px;
                        text-align: left;
                    }
                    .title-th{
                        width: 550px;
                    }
                }
            }
            tbody{
                width: 100%;
                tr{
                    width: 100%;
                    display: flex;
                    margin-top: 20px;
                    td{
                        width: 200px;
                        font-size: 24px;
                        text-align: left;
                    }
                    .title-td{
                        width: 550px;
                    }
                }
            }
        }
    }
}