@import '../../breakpoints/Breakpoints.scss';

.loader-div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .loader {
        width: 100px;
        height: 100px;
        border: 10px solid #eee;
        border-radius: 100vw;
        border-top: 10px solid red;
        animation: spin 3s linear infinite;
      }
      
      @keyframes spin {
        0% {
          rotate: 0deg;
        }
        100% {
          rotate: 360deg;
        }
      }
}
h1{
    margin-top: 20px;
}
.shop-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .shop-banner{
        width: 100%;
        height: 400px;
        background-image: url(../../assets/images/catalog-electronics-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include desktop_l{
            height: 300px;
        }
        h1{
            font-size: 58px;
            font-weight: 400;
            @include desktop_l{
                font-size: 42px;
            }
        }
    }
    .shop-content{
        width: 100%;
        display: flex;
        justify-content: center;
        .shop-content-container{
            width: 80%;
            display: flex;
            justify-content: space-between;
            padding: 100px 0;
            @include tablet_md{
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            table{
                h1{
                    @include mobile_lg{
                        font-size: 18px;
                        margin-left: 40px;
                    }
                }
                thead{
                    width: 100%;
                    tr{
                        width: 100%;
                        display: flex;
                        th{
                            width: 200px;
                            font-size: 24px;
                            text-align: left;
                            @include desktop_xl{
                                width: 150px;
                                font-size: 20px;
                            }
                            @include desktop_l {
                                font-size: 16px;
                            }
                            @include desktop_md{
                                width: 100px;
                                font-size: 14px;
                            }
                            @include mobile_lg{
                                width: 75px;
                                font-size: 10px;
                            }
                        }
                        .title-th{
                            max-width: 550px;
                            
                            @include desktop_xl{
                                width: 410px;
                            }
                            @include tablet_xs{
                                max-width: 300px;
                            }
                            @include mobile_lg{
                                margin-left: 100px;
                                max-width: 170px;
                                @include mobile_lg{
                                    margin-left: 40px;
                                }
                            }
                        }
                    }
                }
                tbody{
                    width: 100%;
                    tr{
                        width: 100%;
                        display: flex;
                        margin-top: 20px;
                        td{
                            width: 200px;
                            font-size: 24px;
                            text-align: left;
                            @include desktop_xxl{
                                width: 150px;
                            }
                            @include desktop_xl{
                                font-size: 18px;
                            }
                            @include desktop_md{
                                width: 100px;
                                font-size: 16px;
                            }
                            @include tablet_xs{
                                font-size: 14px;
                            }
                            @include mobile_lg{
                                width: 75px;
                                font-size: 10px;
                            }
                        }
                        .title-td{
                            width: 550px;
                            @include desktop_xl{
                                width: 410px;
                            }
                            @include tablet_xs{
                                max-width: 300px;
                            }
                            @include mobile_lg{
                                margin-left: 80px;
                                max-width: 200px;
                            }
                            @include mobile_lg{
                                margin-left: 40px;
                            }
                        }
    
                    }
    
                }
            }
            .shop-buy{
                @include tablet_md{
                    width: 100%;
                    margin-top: 50px;
                }
                h1{
                    @include desktop_xxl{
                        font-size: 24px;
                    }
                    @include desktop_xl {
                        font-size: 24px;
                    }
                    @include desktop_md{
                        font-size: 18px;
                    }
                }
                .shop-buy-itog{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    h1{
                        font-weight: 400;
                        @include desktop_xxl{
                            font-size: 22px;    
                        }
                        @include desktop_xl {
                            font-size: 24px;
                        }
                        @include desktop_md{
                            font-size: 18px;
                        }
                    }
                }
                .shop-buy-button{
                    button{
                        width: 100%;
                        padding: 15px 0;
                        background: #E41E31;
                        font-size: 22px;
                        color: #fff;
                        border: none;
                        border-radius: 10px;
                        margin-top: 20px;
                        font-weight: 600;
                        cursor: pointer;
                        transition: .4s;
                        &:hover{
                            background: #E63861;
                        }
                        
                        @include desktop_xxl{
                            width: 120%;
                            font-size: 18px;    
                            font-weight: 400;
                        }
                        @include desktop_md{
                            font-size: 14px;
                        }
                        @include tablet_md{
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}
.title-last{
    width: 30px !important;
}