@import '../../breakpoints/Breakpoints.scss';

.product-box{
    width: 100%;
    @include desktop_l{
        width: 90%;
    }
    .loader-div{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px 0;
        .loader {
            width: 50px;
            height: 50px;
            border: 10px solid #eee;
            border-radius: 100vw;
            border-top: 10px solid red;
            animation: spin 3s linear infinite;
          }
          
          @keyframes spin {
            0% {
              rotate: 0deg;
            }
            100% {
              rotate: 360deg;
            }
          }
    }
    .product-image{
        width: 100%;
        img{
            width: 100%;
        }
    }
    .product-title{
        padding: 20px 0;
        p{
            font-size: 22px;
            font-weight: 600px;
            @include desktop_l{
                font-size: 16px;
            }
            @include tablet_xs{
                font-size: 13px;
            }
        }
    }
    .product-descr{
        padding: 22px 0;
        @include desktop_l{
            font-size: 16px;
            padding: 0;
        }
        @include tablet_xs{
            font-size: 13px;
        }
        span{
            font-size: 18px;
            @include desktop_l{
                font-size: 14px;
            }
        }
    }
    .product-price{
        padding: 20px 0;
        p{
            font-size: 26px;
            @include desktop_l{
                font-size: 18px;
            }
            @include tablet_xs{
                font-size: 16px;
            }
        }
    }
    .product-buttons{
        display: flex;
        gap: 20px;
        padding: 20px 0;
        @include tablet_xs{
            padding: 10px 0;
            gap: 5px;
            flex-direction: column;
        }
        .product-button{
            border: 1px solid #E41E31;
            padding: 15px 30px;
            font-size: 18px;
            cursor: pointer;
            border-radius: 7px;
            transition: .2s;
            background: #fff;
            @include desktop_xl{
                font-size: 14px;
                padding: 15px 25px;
            }
            @include desktop_l{
                padding: 10px 20px;
                font-size: 12px;
            }
            @include desktop_md{
                padding: 10px 15px;
                font-size: 10px;
                display: block;
            }
            @include tablet_xs{
                padding: 7px;
                font-size: 8px;
                text-align: center;
            }
            @include mobile_lg{
                padding: 10px 20px;
                font-size: 10px;
            }
        }
        .link-button{
            text-decoration: none;
            background: #E41E31;
            color: #fff;
            &:hover{
                background: #ff4949;
            }
        }
        .shop-button{
            &:hover{
                background: #E41E31;
                color: #fff;
            }
        }
    }
}