footer{
    width: 100%;
    height: 500px;
    background: #343434;
    display: flex;
    justify-content: center;
    .footer-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 100px 0;
            color: #fff;
            font-size: 18px;
            .footer-address{
                p{
                    margin-top: 20px;
                }
                span{
                    display: block;
                    margin-top: 30px;
                }
                a{
                    display: block;
                    text-decoration: none;
                    margin-top: 20px;
                    color: #fff;
                    transition: .2s;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
            .footer-navigate{
                font-size: 18px;
                display: flex;
                gap: 100px;
                .footer-navigate-item{
                    h4{
                        color: #686868;
                    }
                    ul{
                        margin-top: 20px;
                        list-style: none;
                        li{
                            padding: 10px 0;
                            a{
                                text-decoration: none;
                                color: #fff;
                                transition: .2s;
                                &:hover{
                                    opacity: .7;
                                }
                            }
                        }
                    }
                }
            }
            .footer-social{
                .footer-social-img{
                    margin-right: 20px;
                }
            }
        }
    }
}