@import '../../breakpoints/Breakpoints.scss';

.recipes-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .recipes-banner{
        width: 100%;
        height: 500px;
        background-image: url(../../assets/images/recipes-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        padding: 50px 15% 0 10%;
        @include desktop_l{
            height: 350px;
        }
        span{
            color: #fff;
            a{
                text-decoration: none;
                color: #fff;
            }
            .second-banner-link{
                color: #E41E31;
            }
            @include desktop_l{
                font-size: 14px;
            }
        }
        h1{
            font-size: 48px;
            font-weight: 400;
            color: #fff;
            margin-top: 100px;
            @include desktop_l{
                margin-top: 50px;
                font-size: 28px;
            }
        }
        p{
            margin-top: 30px;
            width: 600px;
            font-size: 18px;
            color: #fff;
            @include desktop_l{
                width: 450px;
                font-size: 14px;
            }
        }
        img{
            width: 450px;
            @include desktop_l{
                width: 300px;
            }
        }
    }
    .recipes-tool-block{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 100px 0 0;
        .recipes-tool-container{
            ul{
                list-style: none;
                display: flex;
                gap: 20px;
                li{
                    text-decoration: none;
                    padding: 10px 20px;
                    border: 1px solid #E41E31;
                    border-radius: 10px;
                    color: #000;
                    cursor: pointer;
                    @include desktop_l{
                        padding: 7px 14px;
                        border-radius: 7px;
                        font-size: 14px;
                    }
                }
                .active{
                    background: #E41E31;
                    color: #fff;
                }
            }
        }
    }
    .loader-div{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px 0;
        .loader {
            width: 100px;
            height: 100px;
            border: 10px solid #eee;
            border-radius: 100vw;
            border-top: 10px solid red;
            animation: spin 3s linear infinite;
          }
          
          @keyframes spin {
            0% {
              rotate: 0deg;
            }
            100% {
              rotate: 360deg;
            }
          }
    }
    .recipes-block{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        padding: 100px 0;
    }
}