@import '../../breakpoints/Breakpoints.scss';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

td{
    display: flex;
    align-items: center;
    text-align: center;
    svg{
        font-size: 24px;
        margin-right: 20px;
        cursor: pointer;
        @include tablet_xs{
            font-size: 18px;
        }
        @include mobile_lg{
            font-size: 14px;
        }
    }
    img{
        width: 150px;
        margin-right: 20px;
        @include desktop_l{
            width: 100px;
        }
        @include tablet_xs{
            width: 70px;
        }
        @include mobile_lg{
            width: 50px;
        }
    }
    input{
        width: 50px;
        height: 45px;
        font-size: 24px;
        text-align: center;
        
        @include desktop_l {
            width: 30px;
            font-size: 16px;
            height: 45px;
        }
        @include desktop_md{
            width: 25px;
            height: 35px;
        }
        @include mobile_lg{
            width: 15px;
            height: 25px;
            font-size: 12px;
        }
    }
    .button{
        display: inline-block;
        cursor: pointer;
        height: 45px;
        padding: 10px;
        border: none;
        border-radius: 0;
        color: #fff;
        background: #E41E31;
        transition: .2s;
        text-decoration: none;
      
        &:hover{
            background: #E63861;
        }
        
        @include desktop_l {
            font-size: 16px;
        }
        @include desktop_md{
            width: 25px;
            height: 35px;
            padding: 5px;
        }
        @include mobile_lg{
            width: 15px;
            height: 25px;
        }
      } 
}

.title-td{
    a{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000;
    }
}